!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('app.site.title')
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    = render 'peek/bar'
    = render 'layouts/header'

    %div.container
      - if notice
        %p= notice
      - if alert
        %p= alert
      = yield

    = render 'layouts/footer'
    = javascript_include_tag 'application'
